<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyonyon.The10000HourRule.mapper.UserSignupMapper">
    <select id="checkProfileDuplication" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM USER_PROFILE WHERE ${key} = '${value}'
    </select>
    <select id="checkAuthDuplication" parameterType="java.lang.String" resultType="int">
        SELECT COUNT(*) FROM USER_AUTH WHERE ${key} = '${value}'
    </select>
</mapper>